
<div class="chat1data"> 
    
    <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
        [legend]="true" (chartClick)="onChartClick($event)">
    </canvas>
    <button mat-stroked-button (click)="newDataPoint([900, 50, 300], 'May')">
            Add data point
  </button>
</div>
