.intro {
	max-width:1280px;
	margin:1em auto;
}
.table-scroll {
    position: relative;
    /* max-width: 1280px; */
    width: 100%;
    margin: auto;
    display: table;
}
.table-wrap {
	width: 100%;
    display: block;
    height: 217px;
    min-height: 200px;
    overflow: auto;
    position: relative;
    z-index: 1;
    font-size: 14px;
    box-shadow: 2px 1px 1px 1px #00000021;
}
.table-scroll table {
	width: 100%;
	margin: auto;
	/* border-collapse: separate; */
	border-spacing: 0;
}
.table-scroll th, .table-scroll td {
    padding: 11px 10px;
    border: 1px solid #0000001f;
    /* background: #fff; */
    font-weight: 400;
    vertical-align: top;
}
.faux-table table {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}
.faux-table table + table {
	top: auto;
	bottom: 0;
}
.faux-table table tbody, .faux-table  tfoot {
	visibility: hidden;
	border-color: transparent;
}
.faux-table table + table thead {
	visibility: hidden;
	border-color: transparent;
}
.faux-table table + table  tfoot{
	visibility:visible;
	border-color:#000;
}
.faux-table thead th, .faux-table tfoot th, .faux-table tfoot td {
	background: #ccc;
}
.faux-table {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	overflow-y:scroll;
}
.faux-table thead, .faux-table tfoot, .faux-table thead th, .faux-table tfoot th, .faux-table tfoot td {
	position:relative;
	z-index:2;
}