<div class="superviser_wrapperdetails">

<div class="superviser_cantiner"> 
 
  <div class="heaer_postion"> 
    <span>Supervisor Approval</span> 
      <div class="back_icon" (click)="goBack()">
          <i class="material-icons"> arrow_back</i>
        </div>
  </div>
  
  <div class="superviser_head">
    Header Details
  </div>

  <div class="row col-md-12">
   <div class="col-md-6">
     <div class="label_details">
      EWM WH NO :
   </div>
   <div class="label_details_text">
        JEGH
    </div>
  </div>
  <div class="col-md-6">
      <div class="label_details">
          DOC Item  :
        </div>
        <div class="label_details_text">
             10
      </div>
   </div>
</div>
<div class="row col-md-12">
    <div class="col-md-6">
      <div class="label_details">
       Material:     </div>
    <div class="label_details_text">
         2000055055
     </div>
   </div>
   <div class="col-md-6">
       <div class="label_details">
           Document Qty (UMO):
         </div>
         <div class="label_details_text">
              20(EA)
       </div>
    </div>
 </div>
 <div class="row col-md-12">
    <div class="col-md-6">
      <div class="label_details">
       Mat Description :
    </div>
    <div class="label_details_text">
         COUPLING,COMPLETE;MM:EM-8(140||/||)
     </div>
   </div>
   <div class="col-md-6">
       <div class="label_details">
           Total Scanned org <br>
           Doc Qty (UMO):
         </div>
         <div class="label_details_text">
              15EA
       </div>
    </div>
 </div>
 <div class="row col-md-12">
    <div class="col-md-6">
      <div class="label_details">
       Category :
    </div>
    <div class="label_details_text">
         R
     </div>
   </div>
   <div class="col-md-6">
       <div class="label_details">
           % of Required <br>
           Qty Picked  :
         </div>
         <div class="label_details_text">
              73.33
       </div>
    </div>
 </div>
 <div class="row col-md-12">
    <div class="col-md-6">
      <div class="label_details">
       Documnet No :
    </div>
    <div class="label_details_text">
         2012210
     </div>
   </div>
 </div>
</div>
</div>

<div class="details_wrapper">
  <div class="tabel_heading">  Item Details</div>
    <div class="table-responsive">
      <div id="table-scroll" class="table-scroll">
        <div id="faux-table" class="faux-table" aria="hidden"></div>
        <div class="table-wrap">
          <table id="main-table" class="main-table">
            <thead>
              <tr>
                <th scope="col">Str Type</th>
                <th scope="col">Str section</th>
                <th scope="col">Source Bin</th>
                <th scope="col">Batch Number</th>
                <th scope="col">Wt Number</th>
                <th scope="col">Task Status</th>
                <th scope="col">Last Scan</th>
                <th scope="col">Picker</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CLS1</td>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>10EA</td>
            
              </tr>
              <tr>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>3EA</td>
                <td>WIP</td>
              </tr>
              <tr>
                <td>CLS1</td>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>10EA</td>
              </tr>
              <tr>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>3EA</td>
                <td>WIP</td>
              </tr>
              <tr>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>3EA</td>
                <td>WIP</td>
              </tr>
              <tr>
                <td>CLS1</td>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>10EA</td>
              </tr>
              <tr>
                <td>CLS1</td>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>10EA</td>
              </tr>
              <tr>
                <td>CLS1</td>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>10EA</td>
              </tr>
              <tr>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>3EA</td>
                <td>WIP</td>
              </tr>
                
            </tbody>
     
          </table>
        </div>
      </div>
      </div>


</div>
<div class="more_info_btn">
    <button mat-raised-button routerLink="/supervisermoreDetailsInfo"   color="primary">More Info</button>
    <button mat-raised-button routerLink="/supervisermoreDetailsInfo"   color="primary">More Details </button>
</div>
