<div class="superwiser_dialog">
  <div class="superwiser_dialog_title" mat-dialog-title> Supervisor Approval </div>
  <div>
<div class="dialog_title">    
   <span> WH No:  </span>
    <mat-form-field class="example-full-width">
        <input matInput  value="JGCE">
      </mat-form-field>
</div>
    <ul>
      <mat-radio-group class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let season of Superviser" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </ul>
  </div>

<div class="superviser_data_btn"> 
  <button mat-raised-button  (click)="submit()" color="warn">Ok</button>
  <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
</div>
</div>