<div class="superviser_wrapperdetails">
    <div class="superviser_cantiner"> 
      <div class="heaer_postion"> 
        <span>Supervisor Approval</span> 
          <div class="back_icon" (click)="goBack()">
              <i class="material-icons"> arrow_back</i>
            </div>
      </div>
<div class="details_wrapper2">
    <div class="tabel_heading">  Availabel  Details</div>
      <div class="table-responsive">
      <table class="table tabel_details_wrapper">
          <thead>
            <tr>
              <th> Type</th>
              <th>Source Bin</th>
              <th>Handling Unit</th>
              <th> Product</th>
              <th> Quantity</th>
              <th> Stock type</th>
              <th>BUn</th>
              <th>St</th>
              <th>Ent To. </th>
              <th>use</th>
              <th>tpe</th>
              <th>sly</th>
               <th> Expenstion</th>
              <th>Gm Time</th>
              <th>Gm Time</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CLS1</td>
              <td>HVR</td>
              <td>CLS-H0001-01</td>
              <td>NEM-LOC</td>
              <td>1000000000101</td>
              <td>7</td>
              <td>1A</td>
              <td>10EA</td>
              <td>WIP</td>
              <td>120000120102012</td>
              <td>4</td>
              <td>xyz</td>
              <td>120000120102012</td>
              <td>4</td>
              <td>xyz</td>
            </tr>
            <tr>
                <td></td>
                <td>HVR</td>
                <td>CLS-H0001-01</td>
                <td>NEM-LOC</td>
                <td>1000000000101</td>
                <td>7</td>
                <td>1A</td>
                <td>3EA</td>
                <td>WIP</td>
                <td>120000120102012</td>
                <td>4</td>
                <td>xrt</td>
                <td>120000120102012</td>
                <td>4</td>
                <td>xyz</td>
            </tr>
           
          </tbody>
        </table>
        </div>
  
  
  </div>
  </div>
  </div>