<div>
    <div class="dailogdata">
        <mat-icon (click)="close()"> close </mat-icon>
    </div>

    <div *ngIf='update_data.data ==="one"'>
        <app-chart1></app-chart1>
    </div>

    <div *ngIf='update_data.data ==="two"'>
        <app-chart2></app-chart2>
    </div>
    <div *ngIf='update_data.data ==="three"'>
            <app-chart3></app-chart3>
        </div>
    

</div>