

  <div class="heaer_postion"> 
    <span>Supervisor Approval</span> 
      <div class="back_icon" (click)="goBack()">
          <i class="material-icons"> arrow_back</i>
        </div>
  </div>
<div class="superviser_id_warpper">
  <div  class="superviser_checkbox">
      <mat-checkbox id="checkbox_box1" [disabled]="true">  Strategy Violation  </mat-checkbox>
      <mat-checkbox id="checkbox_box2"  [disabled]="true"> Oty Violation </mat-checkbox>
      <mat-checkbox id="checkbox_box3"  [disabled]="true">Strategy Data</mat-checkbox>

  </div>
  <div class="table-responsive">
    <table class="table superviser_table table-hover">
      <thead>
        <tr>
          <th>Category</th>
          <th>Department Number</th>
          <th>Department Item</th>
        </tr>
      </thead>
      <tbody>

        <tr  class="table-primary"  routerLink="/superviserDetailsInfo" >
          <td>R</td>
          <td>2012210</td>
          <td>10</td>
        </tr>
        <tr class="table-warn">
            <td>R</td>
            <td>2012211</td>
            <td>10</td>
          </tr>
          <tr class="table-danger">
              <td>R</td>
              <td>2012212</td>
              <td>10</td>
            </tr>
      
      </tbody>
    </table>
  </div>
</div>
  