<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> My Dashboard </span>
    <span>
      <mat-icon class="example-icon">
        cast
      </mat-icon>
    </span>
    <div>
      <div class="mainheaderSearch">
        <div class="search_emp_container">
          <form>
            <input type="text" id="search_bar" name="searchString" placeholder="Search">
            <span class="search_library_bar_icon">
              <i class="material-icons">search </i>
            </span>
          </form>
        </div>
      </div>
    </div>

    <span class="chartjsDashboard"></span>
    <mat-icon class="example-icon">person_pin</mat-icon>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="example-icon">view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item>
        <mat-icon>lock</mat-icon>
        <span>login</span>
      </button>

      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-card class="maindiv_chart">
    <div class="col-md-12 row">
      <div class="col-md-11">
        <div class="row box_wrappedata">
          <div class="col-md-4">
            <mat-card class="maindiv_chart_box">
              <div class="viewdata"   (click)="chartone('one')"> view</div>
              <app-chart1></app-chart1>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="maindiv_chart_box">
                <div class="viewdata"   (click)="chartone('two')"> view</div>
              <app-chart2></app-chart2>
            </mat-card>
          </div>
          <div class="col-md-4">
             <mat-card class="maindiv_chart_box">
                <div class="viewdata"   (click)="chartone('three')"> view</div>
           
              <app-chart3></app-chart3>
            </mat-card>
          </div>

        </div>
        <div class="row box_wrappedata">
          <div class="col-md-4">
            <mat-card class="maindiv_chart_box">
              <app-chart4></app-chart4>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="maindiv_chart_box">
              <app-chart5></app-chart5>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="maindiv_chart_box">
              <app-chart6></app-chart6>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-1 ">

        <div class="fitter_wapwr">
          <mat-card class="fitter_wapwr_card">
            Fiiter Chart
            <span>
              <mat-checkbox>Sort by Date </mat-checkbox>
            </span>
            <span>
              <mat-checkbox>Sort by list </mat-checkbox>
            </span>

          </mat-card>
        </div>


      </div>

    </div>
  </mat-card>
  <div class="footerdata">
      © Copyright 2014, All Rights Reserved  Reliance PVT
  </div>
</div>

