.example-icon {
  margin: 7px;
  cursor: pointer;
  outline: none;
  }
  
  button{
    outline: none;
  }
  .chartjsDashboard{
    flex: 1 1 auto;
  } 
   .mainheaderSearch{
    float: left;
    padding-left: 176px;
    padding-top: 11px;
  }

.search_emp_container #search_bar {
    min-width: 520px;
    min-height: 35px;
    padding: 4px 20px;
    border: none;
    cursor: text;
    color:#2d3033;
    outline: none;
    font-size: 16px !important;
    border-radius: 1px 3px 3px 2px;
    cursor: text;
    margin-bottom: 10px;
  }
  
  .search_library_bar_icon{
    position: absolute;
    margin: -32px;
    padding-top: 39px;
    cursor: pointer;
    color: black;
  }

  .maindiv_chart{
    margin: 10px;
  }
  .maindiv_chart_box{
    height: 257px;
    background: #e9ecef59;  
    cursor: pointer;
  }
  .box_wrappedata{
      margin: 10px;
  }
  .fitter_wapwr{
    background: ghostwhite;
    height: 100%;
    width: 129px;
  }
  .fitter_wapwr_card{
    height: 100%;
  }

  .footerdata{
    bottom: 0px;
    height: 48px;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    color: white;
    background: #130d6dd6;
    /* position:absolute; */
   bottom:0;
   width:100%;
  }
  .viewdata{
    cursor: pointer;
    float: right;
    font-size: 13px;
    color: #4717dc;
    font-weight: 400;
  }