
<mat-toolbar>My App
<button  class="mytoobar" routerLink="/chartjs"  mat-stroked-button color="primary">Chart Js</button>
<button   class="mytoobar" mat-stroked-button (click)="openSuper()" color="primary">SuperViser</button>
</mat-toolbar>