/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.superviserDialog  .mat-dialog-container{
  padding: 0px !important;
  margin: 0px  !important;
}
.superviser_dash_card{
  width: 222px;
  min-height: 117px;
  margin: 14px;
  float: left;
  cursor: pointer;
  outline: none;
}
.superviser_dash_card_wrpper{
float: left;
width: 100%;
}
.superviser_dash_card span{
  text-align: center;
  color: rgba(0, 0, 0, 0.79);
  float: left;
  width: 100%;
  margin-top: 90px;
  font-size: 17px;
}
.superviser_dash_card mat-icon{
  text-align: center;
  color: rgba(0, 0, 0, 0.41);
  float: left;
  width: 100%;
  font-size: 96px;
}
.superviser_dash_card buton{
 
  text-align: center;
  /* float: left; */
  margin-left: 72px;
  margin-top: 14px
}
.header_title{
  cursor: pointer;
}
.superviser_wrapperdetails{
  float: left;
  width: 100%;
}
.superviser_cantiner{
float: left;
width: 100%;
}

.superviser_head{
  float: left;
  width: 100%;
  font-weight: 500;
  padding-left: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.label_details{
  float: left;
  padding-left: 5px;
  padding: 6px;
  font-weight: 600;
  min-width: 183px;
  font-size: 14px;
  font-family: sans-serif;
}
.label_details_text{
  float: left;
  padding-left: 5px;
  font-size: 14px;
  width: 379px;
  padding-right: 82px;
  font-family: sans-serif;
  padding-top: 5px;
  border-bottom: 1px solid;
}
.details_wrapper{
  float: left;
  margin-top: 10px;
  width: 100%;
  /* margin-bottom: 40px; */
}


.details_wrapper2{
  border: 1px solid;
  float: left;
  /* margin-top: 10px; */
  width: 100%;
}
.tabel_heading{
  float: left;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.12); */
  padding: 7px;
  padding-left: 18px;
  font-size: 21px;
  color: #343a40;
  font-weight: 500;
}
.tabel_details_wrapper th{
  font-weight: 500;
}
.more_info_btn{
  float: left;
  /* width: 100%; */
  margin: 10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.more_info_btn button{
  margin: 10px;
}
.superwiser_dialog{
 
}
.superwiser_dialog_title{
    background: #3f51b5;
    height: 58px;
    color: #eee;
    text-align: center;
    padding-top: 24px;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .heaer_postion{

    float: left;
    padding: 14px;
    height: 52px;
    color: white;
    width: 100%;
    background: #007bff66;
}
.back_icon{
    float: left;
}
.heaer_postion span{
    text-align: center;
}
  
  .example-selected-value {
    margin: 15px 0;
  }

  .superviser_data_btn{
    float: right;
    margin: 0px;
  }
  .heaer_postion{
    float: left;
    padding: 15px;
    margin: 10;
    height: 52px;
    cursor: pointer;
    color: white;
    width: 100%;
    background: #007bffa3;
}
  .superviser_data_btn button{
    margin: 4px;
  }
  .dialog_title{
    float: left;
    padding-left: 9px;
  }
  .dialog_title span{
    font-size: 17px;
  }
  .superviser_id_warpper{
    float: left;
    width: 100%;
  }
  
  .superviser_table td{
      font-size: 16px;
      padding-left: 29px;
      font-weight: 400;
      cursor: pointer;
  }
  .superviser_table th{
      font-weight: normal;
      background: #f8f9fa;
      font-size: 16px;
  }
  .superviser_checkbox{
      float: right;
      margin-right: 43px;
      padding: 19px;
  }
  .superviser_checkbox mat-checkbox{
      margin-left: 14px;
  }
  #checkbox_box1 .mat-checkbox-inner-container{
    float: left;
    background: #00e7ff;
  }
  #checkbox_box2 .mat-checkbox-inner-container{
    float: left;
    background: #007bff;
  }
  #checkbox_box3 .mat-checkbox-inner-container{
    float: left;
    background: #ff408180;
  }

